/* montserrat-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v25-cyrillic_latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-600.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-v25-cyrillic_latin-800.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-800.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  background: #E5E5E5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1770px;
  margin: 0 auto;
  padding: 0 75px;
}

.section-title {
  font-size: 48px;
  line-height: 59px;
  color: #333333;
}

.header {
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__wrapper {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header__burger {
  display: none;
  width: 30px;
  height: 23px;
  position: relative;
  cursor: pointer;
}
.header__burger-line {
  width: 100%;
  height: 3px;
  background: #333333;
}
.header__burger-line_first {
  position: absolute;
  left: 0;
  top: 0;
}
.header__burger-line_second {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.header__burger-line_third {
  position: absolute;
  left: 0;
  bottom: 0;
}
.header__nav {
  margin-left: auto;
}
.header__nav_desktop {
  display: block;
}
.header__nav_mobile {
  display: none;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 85px;
}
.header__item:last-child {
  margin-right: 0px;
}
.header__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-bottom: 12px;
  position: relative;
  transition: all 0.3s ease;
}
.header__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #FF9900;
  transition: all 0.3s ease;
}
.header__link:hover:after {
  width: 100%;
}
.header__link:focus:after {
  width: 100%;
}
.header__link:active:after {
  width: 100%;
  background: #E1670E;
}
.header__link:active {
  color: #E1670E;
}

.main__slider {
  margin-bottom: 100px;
}
.main__about {
  margin-bottom: 100px;
}
.main__how-we-work {
  margin-bottom: 100px;
}
.main__questions {
  margin-bottom: 100px;
}

.search {
  cursor: pointer;
  position: relative;
  display: flex;
}
.search-form {
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 0;
  top: -350%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding: 15px 10px 20px 10px;
  width: 550px;
  transition: all 0.4s linear;
}
.search-form__pic {
  margin-left: 10px !important;
  margin-right: 10px;
}
.search-form__input {
  width: 400px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
  border: none;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #666666;
}
.search-form__submit {
  border: none;
  background: none;
  cursor: auto;
}
.search-form__close {
  margin-bottom: 2px;
  height: 28px;
  width: 30px;
  border: 2px solid #666666;
  border-radius: 50%;
  position: relative;
  transition: all 0.3s ease;
}
.search-form__close-line {
  display: block;
  height: 2px;
  width: 70%;
  background: #666666;
  position: absolute;
  top: 45%;
  left: 15%;
  transition: all 0.3s ease;
}
.search-form__close-line:first-child {
  transform: rotate(45deg);
}
.search-form__close-line:last-child {
  transform: rotate(-45deg);
}
.search-form__close:hover .search-form__close-line {
  background: #FF9900;
}
.search-form__close:hover {
  border: 2px solid #FF9900;
}
.search-form__close:active .search-form__close-line {
  background: #E1670E;
}
.search-form__close:active {
  border: 2px solid #E1670E;
}
.search-form::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #666666;
}
.search-form_active {
  top: 50%;
}
.search__box {
  width: 90px;
  display: flex;
}
.search__pic {
  transition: all 0.4s linear;
  margin-left: auto;
}
.search__pic_active {
  margin-right: 60px;
}
.search__pic-rect {
  transition: all 0.3s ease;
}
.search__pic-circle {
  transition: all 0.3s ease;
}
.search__pic:hover .search__pic-rect {
  fill: #FF9900;
}
.search__pic:hover .search__pic-circle {
  stroke: #FF9900;
}
.search__pic:focus .search__pic-rect {
  fill: #FF9900;
}
.search__pic:focus .search__pic-circle {
  stroke: #FF9900;
}
.search__pic:active .search__pic-rect {
  fill: #E1670E;
}
.search__pic:active .search__pic-circle {
  stroke: #E1670E;
}

.slider__wrapper {
  overflow: hidden;
  position: relative;
}
.slider__box {
  display: flex;
  height: 620px;
  position: relative;
  left: 0px;
  transition: all 0.5s ease;
}
.slider__pic {
  object-fit: cover;
}
.slider__info {
  position: absolute;
  z-index: 2;
  left: 78px;
  top: 103px;
}
.slider__title {
  font-weight: 800;
  font-size: 70.3742px;
  line-height: 86px;
  color: #FFFFFF;
  max-width: 841px;
  margin-bottom: 32px;
}
.slider__subtitle {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  max-width: 841px;
  margin-bottom: 97px;
}
.slider__link {
  text-decoration: none;
  padding: 26px 37px;
  text-align: center;
  font-weight: 700;
  font-size: 23.4581px;
  line-height: 29px;
  color: #FFFFFF;
  background: #FF9900;
  transition: all 0.4s ease;
}
.slider__link:hover {
  opacity: 0.6;
}
.slider__link:focus {
  opacity: 0.6;
}
.slider__link:active {
  opacity: 1;
  background: #E1670E;
}
.slider__buttons {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  display: flex;
  width: 100%;
}
.slider__button {
  padding-right: 30px;
}
.slider__button_right {
  margin-left: auto;
}
.slider__button_left {
  transform: rotate(180deg);
}
.slider__button-pic {
  cursor: pointer;
  stroke-width: 3px;
  stroke: #666666;
  transition: all 0.1s linear;
}
.slider__button-pic:hover {
  stroke: #FF9900;
}
.slider__button-pic:active {
  stroke: #E1670E;
}
.slider__circles {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
}
.slider__circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF9900;
  margin-right: 40px;
  opacity: 0.6;
  transition: all 0.1s ease;
}
.slider__circle_active {
  opacity: 1;
}

.about__title {
  margin-bottom: 10px;
}
.about__subtitle {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
  max-width: 1235px;
  margin-bottom: 44px;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.about__card {
  grid-column: span 1;
  display: flex;
  position: relative;
}
.about__card-big {
  grid-row: span 2;
}
.about__card-small {
  padding-left: 63px;
  border: 1px solid #CACACA;
}
.about__card-pic {
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}
.about__card-box {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.about__card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
  width: 100%;
}
.about__card-info-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  max-width: 500px;
  color: #FFFFFF;
  margin-right: 20px;
}
.about__card-info-link {
  text-decoration: none;
  padding: 20px 38px;
  color: #FFFFFF;
  background: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 3px solid #FF9900;
  transition: all 0.3s ease;
}
.about__card-desc {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.about__card-desc-box {
  margin-right: 60px;
}
.about__card-desc-text-title {
  color: #333333;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.about__card-desc-text-subtitle {
  color: #333333;
  font-size: 16px;
  line-height: 32px;
  max-width: 452px;
}
.about__card-box:hover .about__card-pic {
  transform: scale(1.05);
}
.about__card-info-link:hover {
  background: #FF9900;
}
.about__card-info-link:focus {
  background: #FF9900;
}
.about__card-info-link:active {
  background: #E1670E;
  border: 3px solid #E1670E;
}

.how-we-work__title {
  margin-bottom: 38px;
}
.how-we-work__steps {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.how-we-work__step {
  color: #333333;
  font-size: 18px;
  line-height: 22px;
  margin-right: 85px;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}
.how-we-work__step:last-child {
  margin-right: 0px;
}
.how-we-work__step:after {
  content: "";
  display: block;
  background: #FF9900;
  width: 0%;
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: all 0.3s ease;
}
.how-we-work__step:hover {
  color: #FF9900;
}
.how-we-work__step:hover:after {
  width: 100%;
}
.how-we-work__step:active {
  color: #E1670E;
}
.how-we-work__step:active:after {
  background: #E1670E;
}
.how-we-work__step_active {
  color: #FF9900;
}
.how-we-work__wrapper {
  display: none;
}
.how-we-work__wrapper_active {
  display: flex;
  justify-content: space-between;
}
.how-we-work__wrapper_animation {
  opacity: 0;
  animation: opacityHide 1.5s forwards;
}
.how-we-work__info {
  width: 50%;
  margin-right: 30px;
}
.how-we-work__info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}
.how-we-work__info-subtitle {
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  max-width: 758px;
  margin-bottom: 60px;
}
.how-we-work__box {
  width: 50%;
}
.how-we-work__pic {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.how-we-work__links {
  display: flex;
  flex-wrap: wrap;
}
.how-we-work__more {
  text-decoration: none;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  background: #FF9900;
  transition: all 0.4s ease;
  margin-right: 30px;
}
.how-we-work__more:hover {
  opacity: 0.6;
}
.how-we-work__more:focus {
  opacity: 0.6;
}
.how-we-work__more:active {
  background: #E1670E;
  opacity: 1;
}
.how-we-work__contract {
  text-decoration: none;
  padding: 20px 38px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #333333;
  border: 1px solid #333333;
  transition: all 0.4s ease;
}
.how-we-work__contract:hover {
  background: #666666;
  color: #FFFFFF;
}
.how-we-work__contract:focus {
  background: #666666;
  color: #FFFFFF;
}
.how-we-work__contract:active {
  background: #000000;
  color: #FFFFFF;
}

.questions__title {
  margin-bottom: 27px;
}
.questions__card {
  border-bottom: 1px solid #CACACA;
  border-top: 1px solid #CACACA;
  transition: all 0.3s ease;
}
.questions__card-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}
.questions__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  transition: all 0.3s ease;
}
.questions__card-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
  max-width: 1003px;
}
.questions__card-bottom {
  max-height: 0;
  overflow: hidden;
  transition: all 1s ease;
}
.questions__card-close {
  cursor: pointer;
}
.questions__card-close-pic {
  transition: all 0.4s ease;
}
.questions__card-close-pic_active {
  transform: rotate(45deg);
}
.questions__card:hover {
  border-bottom: 1px solid #FF9900 !important;
  border-top: 1px solid #FF9900 !important;
}
.questions__card:hover .questions__card-title {
  color: #FF9900;
}

.footer {
  background: #222222;
  padding-top: 50px;
  padding-bottom: 80px;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__menu {
  display: flex;
  flex-direction: column;
}
.footer__menu-item {
  margin-bottom: 15px;
}
.footer__menu-link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #CACACA;
  padding-bottom: 10px;
  position: relative;
}
.footer__menu-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #FF9900;
  transition: all 0.4s ease;
}
.footer__menu-link:hover:after {
  width: 100%;
}
.footer__menu-link:focus:after {
  width: 100%;
}
.footer__socials {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
}
.footer__social {
  text-decoration: none;
  margin-right: 25px;
}
.footer__social:last-child {
  margin-right: 0px;
}
.footer__application-title {
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
  margin-bottom: 31px;
}
.footer__form {
  display: flex;
  flex-direction: column;
}
.footer__form-input {
  display: inline-block;
  background: none;
  border: none;
  background: #414141;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  padding: 14px 24px;
  width: 570px;
  margin-bottom: 25px;
}
.footer__form-input::placeholder {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}
.footer__form-input-message {
  margin-bottom: 31px !important;
  height: 150px;
}
.footer__form-submit {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer__form-button {
  display: inline-block;
  background: none;
  border: none;
  padding: 20px 52px;
  background: #FF9900;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  opacity: 1;
}
.footer__form-agreement {
  display: flex;
  flex-wrap: wrap;
}
.footer__form-agreement-label {
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}
.footer__form-agreement-checkbox {
  margin-right: 4px;
}
.footer__info {
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
  max-width: 363px;
}

@keyframes opacityHide {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1300px) {
  .header__item {
    margin-right: 65px;
  }
  .header__wrapper {
    justify-content: space-between;
  }
  .about__card-info-subtitle {
    text-align: center;
  }
  .questions .questions__card-top {
    flex-wrap: nowrap;
  }
  .footer__info {
    padding-top: 40px;
  }
  .search-form {
    width: 450px;
  }
}
@media screen and (max-width: 1150px) {
  .container {
    padding: 0 50px;
  }
  .main__slider {
    margin-bottom: 58px;
  }
  .main__about {
    margin-bottom: 58px;
  }
  .main__how-we-work {
    margin-bottom: 58px;
  }
  .main__questions {
    margin-bottom: 58px;
  }
  .header__logo-pic {
    height: 52px;
  }
  .header__wrapper {
    padding: 15px 0px;
  }
  .header__burger {
    display: block;
  }
  .header__nav_desktop {
    display: none;
  }
  .header__nav_mobile {
    display: block;
    position: fixed;
    left: -100%;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: #222222;
    padding: 70px;
    transition: all 0.5s linear;
  }
  .header__nav_mobile_active {
    left: 0;
  }
  .header__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    padding-top: 20px;
  }
  .header__item {
    margin-bottom: 60px;
  }
  .header__item:last-child {
    margin-bottom: 0px;
  }
  .header__link {
    color: #666666;
    font-size: 50px;
    font-weight: 700;
  }
  .header__nav-close {
    width: 70px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header__nav-close-line_first {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5px;
    background: #E5E5E5;
    transform: translateX(-50%) rotate(45deg);
  }
  .header__nav-close-line_second {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 5px;
    background: #E5E5E5;
    transform: translateX(-50%) rotate(-45deg);
  }
  .slider__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 18px;
  }
  .slider__subtitle {
    max-width: 658px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 110px;
  }
  .about__subtitle {
    max-width: 925px;
    font-size: 16px;
    margin-bottom: 47px;
  }
  .about__card {
    grid-column: span 2;
  }
  .about__card-small {
    height: 295px;
  }
  .about__card-desc {
    flex-wrap: nowrap;
  }
  .about__card-desc-text-subtitle {
    font-size: 16px;
  }
  .questions .questions__card-title {
    font-size: 20px;
    max-width: 756px;
  }
  .footer__info {
    display: none;
  }
  .footer__form-input {
    width: 100%;
  }
  .footer__wrapper {
    flex-wrap: nowrap;
  }
  .footer__form-button {
    padding: 20px 38px;
  }
}
@media screen and (max-width: 878px) {
  .slider__container {
    padding: 0px !important;
  }
  .slider__box {
    height: 768px;
  }
  .slider__title {
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
  }
  .slider__subtitle {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    max-width: 540px;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .slider__link {
    width: 300px;
    margin: 0 auto;
  }
  .slider__info {
    left: 48px;
    top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .how-we-work__wrapper_active {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .how-we-work__info {
    width: 100%;
  }
  .how-we-work__box {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 284px !important;
    margin-bottom: 38px;
  }
  .how-we-work__info-subtitle {
    margin-bottom: 30px;
  }
  .how-we-work__steps {
    justify-content: space-between;
  }
  .about__card-small {
    padding: 30px;
  }
  .questions__card-title {
    max-width: 570px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .slider__info {
    top: 130px;
  }
  .slider__subtitle {
    max-width: 540px;
  }
  .about__card-info {
    padding: 28px;
  }
  .footer__wrapper {
    flex-direction: column-reverse;
  }
  .footer__form {
    margin-bottom: 60px;
  }
  .footer__form-input {
    max-width: 534px;
  }
  .footer__form-submit {
    justify-content: flex-start;
  }
  .footer__form-button {
    margin-right: 15px;
  }
  .footer__menu {
    display: none;
  }
}
@media screen and (max-width: 619px) {
  .slider__title {
    text-align: center;
    font-size: 40px;
    line-height: 53px;
  }
  .slider__subtitle {
    text-align: center;
    max-width: 411px;
    margin-bottom: 35px;
  }
  .slider__info {
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .slider__box {
    height: 600px;
  }
  .slider__link {
    padding: 20px 30px;
  }
  .about__card-small {
    height: 100%;
  }
  .about__card-desc-box {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .about__card-small {
    padding: 30px;
  }
  .about__card-desc {
    flex-wrap: wrap;
  }
  .about__card-desc-pic {
    height: 90px;
  }
  .about__card {
    flex-wrap: wrap;
  }
  .about__card-info {
    position: static;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
  }
  .about__card-info-subtitle {
    margin-bottom: 50px;
    text-align: left;
    color: #333333;
    font-weight: 400;
  }
  .about__card-info-link {
    color: #FF9900;
  }
  .footer__box {
    align-items: center;
  }
  .footer__box:first-child {
    padding-top: 40px;
    position: relative;
  }
  .footer__box:first-child:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(-100%);
    width: 100%;
    height: 3px;
    background: #595959;
  }
  .footer__form-submit {
    justify-content: center;
  }
  .footer__form {
    margin-bottom: 40px;
  }
  .footer__form-button {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 565px) {
  .header__nav-close {
    width: 40px;
    height: 40px;
    top: 5px;
  }
  .header__nav_mobile {
    padding: 40px;
  }
  .section-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
  }
  .header__search {
    display: none;
  }
  .header__wrapper {
    flex-direction: row-reverse;
  }
  .container {
    padding: 0 15px;
  }
  .slider__box {
    height: 307px;
  }
  .slider__title {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    max-width: 247px;
    margin-bottom: 7px;
  }
  .slider__subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    margin-bottom: 34px;
    max-width: 243px;
  }
  .slider__info {
    left: 50%;
    transform: translateX(-50%);
    top: 32px;
    width: 100%;
  }
  .slider__link {
    padding: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    width: 170px;
  }
  .slider__circle {
    height: 20px;
    width: 20px;
  }
  .slider__circles {
    bottom: 20px;
  }
  .how-we-work__step {
    margin-right: 0;
  }
  .how-we-work__steps {
    justify-content: space-between;
  }
  .footer__application-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .card-info-link {
    padding: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 444px) {
  .slider__circles {
    display: none;
  }
  .about__card-info {
    padding: 28px 0px;
  }
  .how-we-work__links {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .how-we-work__more {
    margin-right: 0;
  }
  .slider__info {
    top: 50px;
  }
  .how-we-work__more {
    padding: 15px;
  }
  .how-we-work__contract {
    padding: 15px;
  }
  .header__item {
    margin-bottom: 45px;
  }
  .header__link {
    font-size: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
